<div class="acidjs-shopping-cart-dropdown-inner-wrapper">
    <h4>
        <b>
            <span><!-- / --></span><strong><!-- / --></strong>
        </b>
    </h4>
    <div class="acidjs-shopping-cart-dropdown-list acidjs-shopping-cart-dropdown-hidden">
        <div class="acidjs-shopping-cart-checking-out-overlay" title="{{paymentProvider}}">
            <div><!-- / --></div>
        </div>
        <ul></ul>
        <div class="acidjs-shopping-cart-dropdown-list-controls">
            <ul>
                <li class="acidjs-float-left">
                    <button name="update-cart" title="{{labelUpdateCart}}">{{labelUpdateCart}}</button>
                </li>
                <li class="acidjs-float-left">
                    <button name="go-to-checkout" title="{{labelGoToCheckout}}">{{labelGoToCheckout}}</button></li>
                <li class="acidjs-float-right">
                    <h5>
                        <span>total:</span> <b>{{currency_symbol}}</b><strong></strong> <em>{{currency_code}}</em>
                    </h5>
                </li>
            </ul>
        </div>
    </div>
</div>